[submodule "ChaosX/Lib/spdlog"]
	path = ChaosX/Lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ChaosX/Lib/ChaosX/Lib/spdlog"]
	path = ChaosX/Lib/ChaosX/Lib/spdlog
	url = https://github.com/gabime/spdlog.git
